/** @format */

.alert-enter {
	transform: translateX(-100%);
	opacity: 0;
}
.alert-enter-active {
	transform: translateX(0);
	opacity: 1;
	transition: all 300ms;
}
.alert-exit {
	transform: translateX(0);
	opacity: 0;
}
.alert-exit-active {
	transform: translateX(100%);
	opacity: 1;
	transition: all 300ms;
}
